[general]
usecudnn = true
usecudnnbenchmark = true
train_target = "frontend"
frontend_pretrained_model_path = ""

[input]
batchsize = 
numworkers = 
shuffle = true

[model]
type = "temp-conv"
resnet_activation = "pre-activation"
inputdim = 256
hiddendim = 256
numclasses = 500
numlstms = 2

[training]
train = true
epochs = 30
startepoch = 0
dataset = ""
use_frames = false
learningrate = 0.003
learning_decay_rate = 0.08
momentum = 0.9
weightdecay = 0.0001
optimizer = "Adam"

[validation]
validate = true
dataset = ""
use_frames = false